<app-menu-login></app-menu-login>

<div class="container main-container">
  <div class="container">
      <h4 class="paragrafo">Login</h4>

<form novalidate (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="alert alert-danger" *ngIf="errors.length > 0" style="margin-top: 3%;">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
            <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
    </div>
    
  <div class="form-horizontal" [ngClass]="{'meio-tela-sem-erro': errors.length <= 0, 'meio-tela-com-erro' : errors.length > 0 }">

      <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="email">E-mail</label>
          <div class="col-md-10">
              <input class="form-control" id="email" type="text" placeholder="E-mail (requerido)" formControlName="email" 
              [ngClass]="{'is-invalid': displayMessage.email }" />
              <span class="text-danger" *ngIf="displayMessage.email">
                  <p [innerHTML]="displayMessage.email"></p>
              </span>
          </div>
      </div>

      <div class="form-group">
          <label class="col-md-3 col-sm-5 control-label" for="senha">Senha</label>
          <div class="col-md-10">
              <input class="form-control" id="senha" type="password" placeholder="Senha (requerida)" formControlName="senha" 
              [ngClass]="{'is-invalid': displayMessage.senha }"/>
              <span class="text-danger" *ngIf="displayMessage.senha">
                  <p [innerHTML]="displayMessage.senha"></p>
              </span>
          </div>
      </div>

      <div class="form-group botoes">
          <div class="col-md-12 col-md-offset-2">
              <span>
                  <button class="btn btn-success botao-login" id="Login" [disabled]="!loginForm.valid" type="submit">Login</button>
                  <button class="btn btn-outline-info botao-registrar" (click)="registrar()">Não possuo conta</button>
                </span>                
          </div>
      </div>
  </div>
</form>
  </div>  
</div>

<app-rodape-login></app-rodape-login>
