<nav aria-label="Navegação de página">
  <ul class="pagination">
    <li class="page-item" disabled="!paginaAnterior" 
    [ngClass]="{'cursorBloqueado': !paginaAnterior, 'cursorSemBloqueio' : paginaAnterior }"
    (click)="emitirPaginacao(paginaAtiva - 1)">
      <a class="page-link" aria-label="Anterior">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Anterior</span>
      </a>
    </li>
    <li class="page-item" *ngIf="pagina1 > 0" 
      [ngClass]="{'active': paginaAtiva === pagina1, 'cursorSemBloqueio' : numeroPaginas > 1, 'cursorBloqueado' : numeroPaginas <= 1}"
      (click)="emitirPaginacao(pagina1)">
      <a class="page-link">{{pagina1}}</a>
    </li>
    <li class="page-item" *ngIf="pagina2 > 0" 
      [ngClass]="{'active': paginaAtiva === pagina2, 'cursorSemBloqueio' : numeroPaginas > 1, 'cursorBloqueado' : numeroPaginas <= 1}"
      (click)="emitirPaginacao(pagina2)">
      <a class="page-link">{{pagina2}}</a>
    </li>
    <li class="page-item" *ngIf="pagina3 > 0" 
      [ngClass]="{'active': paginaAtiva === pagina3, 'cursorSemBloqueio' : numeroPaginas > 1, 'cursorBloqueado' : numeroPaginas <= 1}"
      (click)="emitirPaginacao(pagina3)">
      <a class="page-link">{{pagina3}}</a>
    </li>
    <li class="page-item" disabled="!proximaPagina"
    [ngClass]="{'cursorBloqueado': !proximaPagina, 'cursorSemBloqueio' : proximaPagina }"
    (click)="emitirPaginacao(paginaAtiva + 1)">
      <a class="page-link" aria-label="Próximo">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Próximo</span>
      </a>
    </li>
  </ul>
</nav>