<div class="container main-container">
  <div class="container">
    <div *ngIf="dados && paginacao.pageIndex > 0" class="painel">
      <div class="painel-topo">
        <h1>Usuários</h1>
      </div>      
      <div class="filtro">
        <div class="col-12 linha-botao-cadastrar">        
          <button class="btn btn-success botao-cadastrar" (click)="cadastrarUsuario()">Cadastrar Usuário</button>
        </div>
        <input class="col-3 form-control" id="vaga-filtro" type="text" placeholder="Digite um nome" 
        [(ngModel)]="filtroNome">
        <button class="btn btn-primary" style="margin-left: 10px;" (click)="carregarRegistros()">Pesquisar</button>
      </div>
      <div class="row painel-corpo">
        <div class="row titulos">
          <div class="col-3 titulo-coluna"><span>Nome</span></div>
          <div class="col-3 titulo-coluna"><span>Email</span></div>
          <div class="col-2 titulo-coluna"><span>Escolaridade</span></div>
          <div class="col-3 titulo-coluna"><span>Ação</span></div>
        </div>

        <div *ngIf="dados.list.length > 0" class="conteudo">
          <div class="row conteudo-interno" *ngFor="let dado of dados.list">
            <div class="col-3 conteudo-coluna"><span>{{dado.primeiroNome}} {{dado.ultimoNome}}</span></div>
            <div class="col-3 conteudo-coluna"><span>{{dado.email}}</span></div>
            <div class="col-2 conteudo-coluna"><span>{{dado.escolaridade}}</span></div>
            <div class="col-3 conteudo-coluna-botao">
              <span class="botoes">
                <button class="btn btn-warning botao-editar" (click)="editarUsuario(dado.id)">Editar</button>
                <button class="btn btn-danger botao-voltar" (click)="abrirExclusao(dado.id)">Excluir</button>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="paginacao">        
        <app-paginacao [paginacao]="paginacao" (paginacaoEmitter)="carregarRegistros($event)"></app-paginacao>
      </div> 
    </div>
    
    <div *ngIf="dados === undefined" class="row conteudo" style="margin-top: 25vh;">
      <div class="col-6 sem-conteudo"><span>Não possui usuários cadastrados</span></div>          
    </div>
  </div>  
</div>

<!-- MODAL EXCLUIR -->

<div bsModal ngDraggable [handle]="handler" [config]="{ignoreBackdropClick: true}" id="mdExcluir"
    #mdExcluir="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mdExcluir"
    aria-hidden="true">
    <div class="modal-dialog div-detalhes modal-lg modal-dialog-centered ">
        <div class="modal-content div-detalhes">
            <div #handler class="modal-header">
                <button type="button" class="close" (click)="mdExcluir.hide()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="wrapper-flexbox">
                    <h4 class="mr-30"></h4>
                    <h4></h4>
                </div>
            </div>
            <form>
                <div class="modal-body alinhamento" id="area-modalDetalhes">

                    <!--Inicio Parte Superior Modal-->
                    <!--Fim Parte Superior Modal-->                    

                    <!--Inicio Movimentos-->
                    <div class="painel-modal">      
      
                      <div *ngIf="usuarioSelecionado" class="detalhes-usuario-modal">
                        <div class="nome-usuario-modal"><span>{{usuarioSelecionado.primeiroNome}} {{usuarioSelecionado.ultimoNome}}</span></div>
                        <div class="descricao-modal">
                          <p>Email: {{usuarioSelecionado.email}}</p>
                          <p>Escolaridade: {{usuarioSelecionado.escolaridade}}</p>
                          <p>Data de Nascimento: {{usuarioSelecionado.dataNascimento}}</p>
                        </div>          
                      </div>
                    
                    </div>
                    <!--Fim Movimentos-->                    

                    <!--Inicio Parte Inferior Modal-->                    
                    <!--Fim Parte Inferior Modal-->

                </div>

                <div class="modal-footer alinhar-botoes">
                    <button class="btn btn-danger botao-excluir" (click)="excluirUsuario()">Excluir</button>
                    <button type="button" class="btn btn-default" (click)="mdExcluir.hide();">
                        FECHAR
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>