<div class="container main-container">
  <div class="container">
    <div *ngIf="dados && paginacao.pageIndex > 0" class="painel">
      <div class="painel-topo">
        <h1>Usuarios</h1>
      </div>
      <div class="filtro">
        <input class="col-3 form-control" id="vaga-filtro" type="text" placeholder="Digite um nome" 
        [(ngModel)]="filtroPlaca">
        <button class="btn btn-primary" style="margin-left: 10px;" (click)="carregarRegistros()">Pesquisar</button>
      </div>
      <div class="row painel-corpo">
        <div class="row titulos">
          <div class="col-4 titulo-coluna"><span>Nome</span></div>
          <div class="col-3 titulo-coluna"><span>Email</span></div>
          <div class="col-3 titulo-coluna"><span>Escolaridade</span></div>
        </div>

        <div *ngIf="dados.list.length > 0" class="conteudo">
          <div class="row conteudo-interno" *ngFor="let dado of dados.list">
            <div class="col-4 conteudo-coluna"><span>{{dado.primeiroNome}} {{dado.ultimoNome}}</span></div>
            <div class="col-3 conteudo-coluna"><span>{{dado.email}}</span></div>
            <div class="col-3 conteudo-coluna"><span>{{dado.escolaridade}}</span></div>
          </div>
        </div>
      </div>
      <div class="paginacao">        
        <app-paginacao [paginacao]="paginacao" (paginacaoEmitter)="carregarRegistros($event)"></app-paginacao>
      </div> 
    </div>
    
    <div *ngIf="dados === undefined" class="row conteudo" style="margin-top: 25vh;">
      <div class="col-6 sem-conteudo"><span>Não possui usuários cadastrados</span></div>          
    </div>
  </div>  
</div>